@charset "UTF-8";

/* Шрифты */

@font-face {
  font-family: "RockwellBold";
  font-display: swap;
  src: url("../fonts/rockweb.woff") format("woff"), url("../fonts/rockweb.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RockwellItalic";
  font-display: swap;
  src: url("../fonts/rockwell-italic-version-1-60.woff") format("woff"), url("../fonts/rockwell-italic-version-1-60.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RockwellRegular";
  font-display: swap;
  src: url("../fonts/RockwellRegular.woff") format("woff"), url("../fonts/RockwellRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Обнуление */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Переменные */

.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

._container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

/* HEADER Стили */

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 150px;
  position: relative;
  z-index: 2;
}

.header__logo {
  padding-right: 40px;
  z-index: 3;
}

.header__help {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 150px;
  max-width: 330px;
  padding-left: 47px;
  border-left: 1px solid #ebebeb;
}

.menu__icon {
  display: none;
}

.menu__body {
  position: relative;
  z-index: 3;
}

.menu__body._active {
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
}

.menu__link {
  margin: 0 22px 0 22px;
  line-height: 180%;
}

.menu__link:hover {
  color: #ffe13e;
}

.help__lable {
  font-family: "RockwellRegular";
  font-size: 12px;
}

.help__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.telephone__button {
  padding: 0 30px 0 30px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffe13e;
  margin-right: 20px;
}

.telephone__number {
  border-left: 1px solid #202242;
  padding-left: 20px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* MAIN Стили */

.main {
  width: 100%;
  height: auto;
  position: relative;
}

.main__content {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__container1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/main/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg) center no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/main/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/main/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.container1-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: RockwellRegular;
  text-align: center;
  color: #fff;
  padding-top: 120px;
}

.container1__title {
  font-size: 48px;
  margin-top: 100px;
}

.container1__sub-title {
  margin-top: 34px;
  font-size: 30px;
}

.container1__icon {
  margin-top: 59px;
}

.box_area {
  width: 572px;
  height: 90px;
  background-color: #ffffff62;
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form {
  width: 536px;
  height: 54px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

input {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  color: #2d2d2d;
}

.form__input {
  height: 54px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  padding-left: 20px;
}

.form__other {
  height: 54px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.other__list {
  width: 109px;
  height: 54px;
  background-color: #ffe13e;
  padding: 0 15px;
}

.other button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.other__button {
  width: 158px;
  height: 54px;
  background-color: #ffe13e;
}

.other select {
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../img/main/2-layers.png") no-repeat right center;
  outline: 0;
}

.other option {
  background-color: #ffe13e;
}

/*CONTAINER2*/

.container2__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 705px;
}

.container2__left-box {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  background: #202242;
}

.container2__right-box {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  background: #ffe13e;
}

.container2__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 705px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100%;
  padding: 117px 0 105px 0;
}

.content__box {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding: 0 80px;
}

.cards__icon-right {
  color: #202242;
  font-family: Raleway;
  font-size: 134px;
  font-weight: 700;
  line-height: 125%;
}

.cards__title {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  margin-top: 59px;
  text-align: center;
}

.cards__text {
  margin-top: 27px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.cards__button {
  margin-top: 37px;
  width: 155px;
  height: 56px;
  border: 3px solid #fff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__container3 {
  background: url(../img/main/2-layers.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 122px;
}

.container3__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container3__title {
  text-align: center;
  margin-top: 68px;
}

.container3__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 87px;
}

.title__text {
  font-family: Raleway;
  font-size: 48px;
  font-weight: 700;
  line-height: 78px;
}

.title__sud-title {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
}

.columns__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}

.columns__item::after {
  content: "";
  display: block;
  width: 69px;
  height: 2px;
  -webkit-transform: translate(0, 160px);
  -ms-transform: translate(0, 160px);
  transform: translate(0, 160px);
  background-color: #202242;
  opacity: 0.5;
  position: absolute;
  z-index: 10;
}

.column__title {
  margin-top: 67px;
  color: #f4d320;
  font-family: Rockwell;
  line-height: 100%;
  font-size: 30px;
  font-weight: 400;
}

.column__text {
  margin-top: 20px;
  color: #202242;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
}

.container4__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 87px 0 130px 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.container4__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.container4__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.top__area1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.top__area2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 0 15px;
}

.top__cards {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 0 15px;
}

.info__area {
  padding-right: 40px;
}

.info__title {
  color: #202242;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 15px;
  text-align: left;
}

.info__text {
  color: #adadad;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.buttom__coments {
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  height: auto;
  margin-top: 80px;
}

.coments__area {
  padding: 30px 20px 50px 20px;
  background-color: #f5f3f3;
  position: relative;
}

.coments__text {
  color: #696969;
  font-family: Rockwell;
  font-size: 14px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}

.coments__name {
  color: #696969;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-top: 25px;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transform: translate(30px, -280%);
  -ms-transform: translate(30px, -280%);
  transform: translate(30px, -280%);
}

.coments__icon {
  position: absolute;
  left: 100%;
  top: 100%;
  -webkit-transform: translate(-120%, -50%);
  -ms-transform: translate(-120%, -50%);
  transform: translate(-120%, -50%);
}

.main__container5 {
  background-color: #202242;
}

.container5__content {
  padding: 91px 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container5__invait {
  margin-right: 30px;
}

.container5__button {
  background-color: #ffe13e;
  min-width: 234px;
  min-height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #202242;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: 4px solid #fff;
  margin: 20px 0 0 40px;
}

.invait__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 110%;
}

.invait__sub-title {
  color: #67687b;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}

/* FOOTER Стили */

.footer {
  background: url("../img/footer/2-layers.png") center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 146px 0 80px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}

.footer__lable {
  margin-top: 18px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.navigation {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.navigation__link {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  text-align: right;
  border-bottom: 1px solid #ffffff;
}

.navigation__link span {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  text-align: right;
}

.navigation__link:last-child {
  border-bottom: 0;
}

.navigation__link:first-child {
  margin-bottom: 35px;
  border-bottom: 0;
}

.navigation__icon {
  margin-top: 44px;
}

.navigation__lable {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
  text-align: right;
  margin-top: 68px;
}

@media (min-width: 991.98px) {
  .cards__text {
    overflow: auto;
    max-height: 76px;
  }
}

@media (max-width: 1188px) {
  .top__info {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding-left: 50px;
  }

  .top__cards {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    margin-top: 30px;
  }

  .top__card {
    margin: 15px;
  }

  .info__title {
    text-align: center;
  }

  .info__text {
    text-align: center;
  }
}

@media (max-width: 1135px) {
  .header__logo {
    padding-right: 20px;
  }

  .menu__link {
    margin: 0 11px 0 11px;
  }

  .telephone__button {
    margin-right: 10px;
  }

  .telephone__number {
    padding-left: 10px;
  }
}

@media (max-width: 1080px) {
  .content__box {
    padding: 0 40px;
  }

  .container5__content {
    padding: 41px 91px;
  }

  .container5__invait {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

@media (max-width: 1040px) {
  .header__content {
    height: 120px;
  }

  .header__help {
    padding-left: 20px;
    height: 120px;
  }
}

@media (max-width: 991.98px) {
  body._lock {
    overflow: hidden;
  }

  .header__content {
    height: 70px;
  }

  .header__content:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
  }

  .header__logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
  }

  .header__menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .header__help {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    height: 70px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-left: 0;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #202242;
  }

  .menu__icon span:first-child {
    top: 0px;
  }

  .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }

  .menu__icon._active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .menu__icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu__icon._active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .menu__body {
    position: fixed;
    height: 100%;
    width: 100%;
    top: -150%;
    left: 0;
    z-index: 1;
    overflow: auto;
    background: #202242;
    opacity: 0.9;
    padding: 30px 0 80px 0;
    margin-top: 70px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .menu__link {
    display: block;
    color: #fff;
    margin: 0 0 30px 0;
    font-size: 40px;
    /* display: none; */
  }

  .help__lable {
    display: none;
  }

  .help__telephone {
    margin: 0;
  }

  .container1-content {
    padding-top: 130px;
  }

  .container1__title {
    margin-top: 0;
  }

  .container2__box {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 705px;
  }

  .container2__left-box {
    padding: 70px 160px;
  }

  .container2__right-box {
    padding: 70px 190px;
  }

  .container2__content {
    display: none;
  }

  .cards__icon-left {
    width: 140px;
    height: 140px;
  }

  .cards__icon-right {
    font-size: 110px;
  }

  .cards__title {
    margin-top: 40px;
    font-size: 34px;
  }

  .main__container3 {
    padding-bottom: 30px;
  }

  .container3__title {
    margin-top: 50px;
  }

  .container3__columns {
    margin-top: 40px;
  }

  .columns__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 20px 100px;
  }

  .columns__item::after {
    -webkit-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }

  .column__title {
    margin-top: 47px;
  }

  .container4__content {
    padding: 50px 0 65px 0;
  }

  .buttom__coments {
    margin-top: 40px;
  }

  .coments__icon {
    width: 70px;
    height: 70px;
  }

  .container5__content {
    padding: 41px 61px;
  }

  .container5__invait {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .container5__button {
    font-size: 16px;
    min-width: 180px;
    min-height: 67px;
  }

  .invait__title {
    font-size: 30px;
  }

  .invait__sub-title {
    font-size: 16px;
  }

  .footer {
    padding: 40px 0 40px 0;
  }
}

@media (max-width: 885px) {
  .container2__left-box {
    padding: 70px 160px;
  }

  .container2__right-box {
    padding: 70px 160px;
  }
}

@media (max-width: 860px) {
  .telephone__button {
    margin-right: 0;
    padding: 0 10px 0 10px;
  }

  .telephone__number {
    display: none;
  }
}

@media (max-width: 838px) {
  .top__area1 {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .container5__invait {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .container5__button {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 767.98px) {
  .header__content {
    height: 50px;
  }

  .header__help {
    height: 50px;
  }

  .menu__body {
    margin-top: 50px;
  }

  .menu__link {
    font-size: 25px;
    margin: 0 0 20px 0;
    /* display: none; */
  }

  .container1-content {
    padding-top: 80px;
  }

  .container1__title {
    font-size: 30px;
  }

  .container1__sub-title {
    font-size: 20px;
    margin-top: 20px;
  }

  .container1__icon {
    width: 70px;
    height: 70px;
  }

  .box_area {
    width: 300px;
    height: 140px;
  }

  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 268px;
    height: 108px;
  }

  .form__input {
    height: 54px;
    width: 268px;
  }

  .form__other {
    height: 54px;
    width: 268px;
  }

  .container2__left-box {
    padding: 50px 150px;
  }

  .container2__right-box {
    padding: 50px 150px;
  }

  .content__box {
    padding: 0;
  }

  .cards__icon-left {
    width: 120px;
    height: 120px;
  }

  .cards__icon-right {
    font-size: 90px;
  }

  .cards__title {
    margin-top: 30px;
    font-size: 30px;
  }

  .cards__text {
    margin-top: 10px;
    font-size: 10px;
  }

  .main__container3 {
    padding-bottom: 50px;
  }

  .title__text {
    font-size: 30px;
    line-height: 140%;
  }

  .title__sud-title {
    font-size: 18px;
    line-height: 100%;
  }

  .columns__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding: 20px 180px;
  }

  .column__icon {
    width: 120px;
    height: 120px;
  }

  .column__title {
    font-size: 20px;
  }

  .column__text {
    margin-top: 10px;
    font-size: 10px;
    line-height: 15px;
  }

  .top__cards {
    margin-top: 20px;
  }

  .top__card {
    width: 100px;
    height: 67px;
  }

  .info__title {
    font-size: 30px;
  }

  .info__text {
    font-size: 10px;
    line-height: 15px;
  }

  .coments__text {
    font-size: 10px;
    line-height: 15px;
  }

  .coments__name {
    font-size: 14px;
  }

  .coments__icon {
    width: 50px;
    height: 50px;
  }

  .coment1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .coment2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .coment3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .container5__content {
    padding: 41px 21px 20px 21px;
  }

  .container5__invait {
    text-align: center;
    margin-right: 0;
  }

  .container5__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    font-size: 16px;
    min-width: 140px;
    min-height: 42px;
  }

  .invait__title {
    font-size: 25px;
  }

  .invait__sub-title {
    margin-top: 5px;
  }

  .footer__lable {
    text-align: center;
  }

  .navigation__link:first-child {
    margin-bottom: 15px;
  }

  .navigation__icon {
    margin-top: 20px;
  }

  .navigation__lable {
    margin-top: 30px;
  }
}

@media (max-width: 670px) {
  .container2__left-box {
    padding: 50px 120px;
  }

  .container2__right-box {
    padding: 50px 120px;
  }

  .columns__item {
    padding: 20px 140px;
  }
}

@media (max-width: 636px) {
  .top__area1 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .container2__left-box {
    padding: 50px 90px;
  }

  .container2__right-box {
    padding: 50px 90px;
  }
}

@media (max-width: 550px) {
  .columns__item {
    padding: 20px 100px;
  }
}

@media (max-width: 540px) {
  .container2__left-box {
    padding: 30px 50px;
  }

  .container2__right-box {
    padding: 30px 50px;
  }
}

@media (max-width: 450px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-right: 0;
  }

  .header__menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18px;
    flex: 0 0 18px;
  }

  .header__help {
    min-width: 100%;
    border-radius: 20px;
    min-height: 170px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 0 10px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    text-align: center;
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 0 50px 0;
  }

  .help__lable {
    display: block;
    color: #FFF;
    margin-top: 5px;
    font-size: 14px;
    line-height: 200%;
  }

  .help__telephone {
    min-height: 50px;
    min-width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .telephone__button {
    padding: 0 30px 0 30px;
  }

  .telephone__number {
    display: block;
    color: #FFF;
    padding-left: 10px;
    margin-top: 10px;
    line-height: 100%;
  }

  .cards__icon-right {
    line-height: 100%;
  }

  .container3__columns {
    margin-top: 20px;
  }

  .columns__item {
    padding: 20px 50px;
  }

  .columns__item::after {
    width: 49px;
    -webkit-transform: translate(0, 105px);
    -ms-transform: translate(0, 105px);
    transform: translate(0, 105px);
  }

  .column__icon {
    width: 90px;
    height: 90px;
  }

  .column__title {
    margin-top: 27px;
  }
}

@media (max-width: 436px) {
  .coment1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .coment2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .coment3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}